@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants hover, focus {
    .button-brightness {
      box-shadow: inset 0 0 28px 12px rgba(255, 255, 255, 0.3);
    }
    .gradient-border-bottom {
      color: hsl(233, 26%, 24%);
      border-width: 0 0 4px 0;
      border-style: solid;
      border-color: rgb(29 78 216);
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.color-black-fill {
  background-color: #333843;
  color: #F9F9F9;
}

.navbar {
  transition: all ease .65s;
}

.logo {
  max-width: unset !important;
  width: 135px;
  height: 44px;
}


@media only screen and (max-width: 920px) {
  .desktop-navbar {
    display: none;
  }
}